{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block object-tools-items %}
    <a href="{% url 'admin:orders_statistics_calculate_per_waitress' %}" class="btn btn-primary ">Bütün Ofisiantların Nəticəsi</a>
    <a href="{% url 'admin:orders_statistics_calculate_daily' %}" class="btn btn-success">Bu Günün Nəticəsi</a>
    <a href="{% url 'admin:orders_statistics_calculate_monthly' %}" class="btn btn-warning ">Bu Ayın Nəticəsi</a>
    <a href="{% url 'admin:orders_statistics_calculate_yearly' %}" class="btn btn-primary ">Bu İlin Nəticəsi</a>

    |||| 
{{ block.super }}
{% endblock %}
